# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production/Build folders
/client/dist
/server/dist

# Environment Variables & Secrets
.env
.env.*